* {
    box-sizing: borderbox;
}
#title {
    width: 100%;
    height: 50px;
    border: 2px solid red;
    display: flex; 
    justify-content: center;
}

.container {
    width: 100%;
    height: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.box {
    width: 100%;
    height: 20px;
    border: 2px solid black; 
    display: flex;
    align-items: center;
}

    /*Specificity ranking
    1. !important
    2. # (id) 
    HTML: <div id="test"></div>
    CSS: #test {color: red;}
    3. Class
    HTML: <div class="test"></div>
    CSS: .test {color: red;}
    4. Tag
    HTML: <div><div>
    CSS: div {color: red;}  */
.red {
    color: red;
}  
.blue { color: blue;
}

#title {
    font-weight: 600 bold;
    color: purple
}

/* common properties
-color: 1. words: red, green, blue, cyan
2. RGB: rgb (0, 255, 0) --> green
3.  HEX: #ff0000 --> red (figman)

height: 100vh; --> used for landing pages

Border: 10px solid black; 
(more details) border-width: px;
border-style: dotted; 
border-color: red; */

div { height: 200px;
    border: 3px solid black;
}

/* position
1. Static (default) - Follow normal flow of the page
2. Relative - Follow normal flow of the page
- Lets you position using top, left, bottom, right
3. Absolute - Does NOT follow the flow of the page
- Lets you position   using top, left, bottom, right
- Positions is based off closet 'positionL relative' parent */

.example { 
    background-color: red;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.second {
    background-color: violet;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100%;
    right: 0;
}

/* uncommon positions
1. Fixed - Stick element to a permanent location on the page
- Lets you use top, left, bottom, right
2. Sticky - sticks elements to a permanent locattion on the page once it hits a threshhold */

.mediaqueries {
    background-color: blue;
    color: white;
    font-size: 25px
}

@media (max-width: 992px) {
    .mediaqueries {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .mediaqueries {
        font-size: 16px;
    }
}

/* Media Queries: Common breakpoints (max-width)
Mobile phones: 576px
Tablets: 768px
Desktops: 992px
Large Desktops: 1200px+ */

#welcome {
    transition: background-color 300ms;
}

#welcome:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

button {
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300ms;
}

button:hover {
    background-color: black;
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(10px);
    }
}

.nav_link {
    color: black;
}
.nav_link--active {
    color: purple;
    font-weight: bold;
}

/* BEM - Block-Element-Modifier: naming convention used for CSS classes to make them easier to read & understand
- B [Block]   block component
- E [Element] Dependant on the block component
- M [Modifier] Used to change the style of the black