#title {
    width: 100%;
    max-width: 200px;
    border: 15px solid  yellowgreen;
    margin: 15px 0px 15px 350px;
    font-size: 12px;
    font-weight: 600;
    font-family: "roboto", sans-serif;

    /*Specificity ranking
    1. !important
    2. # (id) 
    HTML: <div id="test"></div>
    CSS: #test {color: red;}
    3. Class
    HTML: <div class="test"></div>
    CSS: .test {color: red;}
    4. Tag
    HTML: <div><div>
    CSS: div {color: red;}  */
}
.red {
    color: red;
}  
.blue { color: blue;
}

#title {
    font-weight: 600 bold;
    color: purple
}

/* common properties
-color: 1. words: red, green, blue, cyan
2. RGB: rgb (0, 255, 0) --> green
3.  HEX: #ff0000 --> red (figman)

height: 100vh; --> used for landing pages

Border: 10px solid black; 
(more details) border-width: px;
border-style: dotted; 
border-color: red; */

div { height: 200px;
    border: 3px solid black;
}

/* position
1. Static (default) - Follow normal flow of the page
2. Relative - Follow normal flow of the page
- Lets you position using top, left, bottom, right
3. Absolute - Does NOT follow the flow of the page
- Lets you position   using top, left, bottom, right
- Positions is based off closet 'positionL relative' parent */

.example { 
    background-color: red;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.second {
    background-color: violet;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100%;
    right: 0;
}

/* uncommon positions
1. Fixed - Stick element to a permanent location on the page
- Lets you use top, left, bottom, right
2. Sticky - sticks elements to a permanent locattion on the page once it hits a threshhold